.side-bar { 
    position: relative;
    background-color: #121825;
    height: 90vh;
    width: 324px;
    border-radius: 18px;
    padding: 4px;
    display: flex; 
    flex-direction: column; 
    box-sizing: border-box;
    justify-content: space-between; 
    
}
@media (max-width: 1024px) {
    .side-bar { 
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85vw;
    }

    .create-chat-button, .search-button { 
        width: 50px;
        height: 50px;
    }
}
.name-input { 
margin-left: 10px;
    width: 200px;
}
.side-bar-buttons { 
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 8px;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #313E62 !important;
}

.create-chat-button {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 38px;
    height: 38px;
    background-color: #1C64F2;
    border: none; 
    padding: 0;
}

.search-button { 
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 38px;
    border: 1px solid #313E62 !important;
    height: 38px;
    padding: 0;
    background: transparent;
}

.chats-list {
    border-top: 1px #313E62;
    margin-top: 25px;
    width: 292px;
    flex-grow: 1; 
}

.chat {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 292px;
    height: 38px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 10px; 
}

.chat svg {
    height: 18px; 
    width: 18px;
    vertical-align: middle; 
}

.chat span {
    line-height: 38px; 
    margin: 0; 
    padding: 0; 
    color: #fff;
    margin-left: 5px;
}

.aside-user-bar { 
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 18px;
    height: 72px;
    width: 292px;
    border: 1px solid #313E62;
    justify-content: space-between;
}

.aside-user-bar span { 
    color: #fff;
}

.aside-logout { 
    cursor: pointer; 
}
.aside-user-bar svg { 
    margin-left: 10px;
    margin-right: 10px;
}

.model-chat { 
    background-color: #222B44;
}

.side-bar-logo { 
    margin-top: 20px;
    margin-left: 10px;
}